@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    width: 100%;
    font-family: "Public Sans", sans-serif;
}

#mobile-res {
  display: none;
}

#mobile-header{
  display: none;
}

/* for the header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 10;
    background: hsl(0, 0%, 100%);
}

#logo {
  position: relative;
  left: -6rem;
}
nav {
    width: 25%;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: hsl(233, 8%, 62%);
    height: 4rem;
    margin:0;
}

#nav-links li {
    display: flex;
    font-size: 0.9rem;
    cursor: pointer;
    align-items: center;
    height: 3.778rem;
    padding: 0 1rem;
}

#nav-links li:hover{
  border-bottom: 4px solid hsl(136, 65%, 51%);
}

.btn {
    border: none;
    color: hsl(0, 0%, 100%);;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 0.7rem 1.5rem;
    border-radius: 10rem;
    cursor: pointer;
    outline: none;
  }
  
/* for the main  */

main {
    position:relative;
    top:4rem;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}

/* for the main container */

#main-container {
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position-x: 45rem;
    min-height: 35rem;
}

#main-content {
    position: absolute;
    width: 35%;
    top: 6rem;
    left: 6rem;  
}

#main-content h1 {    
    color: hsl(233, 26%, 24%);;
    font-size: 3rem; 
    font-weight: lighter; 
}

#main-content p {
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
    max-width: 80%;
    text-align: left;
    line-height: 1.5;
}

#main-image {
    position: absolute;
    top: -5rem;
    transform: scale(1.3);
    right: 0rem;
}

#main-image img {
    max-height: 40rem;
  }

.main-btn {
    margin-top: 1rem;
  }

/* for the feature container */

#feature-container {
    background: hsl(220, 16%, 96%);
    min-height: 35rem;
  }

#feature-content {
    position: relative;
    top: 6rem;
    left: 6rem;
  }

#feature-content h1 {
    color: hsl(233, 26%, 24%);
    font-size: 2.1rem;
    font-weight: lighter;
  }

#feature-content p {
  width: 40%;
  font-size: 1rem;
  line-height: 1.4rem;
  color: hsl(233, 8%, 62%);
  }

#feature-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 8rem; 
    margin-left: 6rem;
    width: 90%;
  }

.feature-section {
    margin: 0 1rem;
  }

.feature-section h4{
    color: hsl(233, 26%, 24%);
    font-weight: lighter;
}

.feature-section p {
    color: hsl(233, 8%, 62%);
    font-size: 1rem;
    line-height: 1.2rem;
}

/* for the article container */

#article-container {
  min-height: 40rem;
  background: hsl(0, 0%, 98%);
  margin-top: -1.5rem;
}
.cont{
  max-width: 1600px;
  margin: 0 auto;
}
#article-container h1 {
  max-width: 1600px;
  position: relative;
  top: 5rem;
  left :1rem;
  color: hsl(233, 26%, 24%);
  font-size: 2.1rem;
  font-weight: lighter;
}

#article-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 6rem;
}

.article-img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.article-single {
  margin: 0 1rem;
}

.author {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: hsl(233, 8%, 62%);
  margin: 1rem;
}

.article-heading {
  color: hsl(233, 26%, 24%);
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 1rem;
  font-weight: lighter;
}
.article-heading:hover{
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.article-para {
  color: hsl(233, 8%, 62%);
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin: 1rem;
  padding-bottom: 2.5rem;
}

/* for the footer */

#footer-container{
  background: hsl(233, 26%, 24%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:relative;
  top:8rem;
  min-height: 10rem;
}

#footer-one{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  color: white;
  position: relative;
  left: -6rem;
}

#footer-logo{
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer-social{
  display:flex;
  justify-content: space-between;
  width:10rem;
}

#footer-social > img:hover{
  cursor: pointer;
  filter: invert(69%) sepia(13%) saturate(4897%) hue-rotate(82deg) brightness(105%) contrast(71%);
}

#footer-one li{
  margin: 1rem;
  font-size: 0.9rem;
  list-style: none;
  cursor: pointer;
}

#footer-one li:hover {
   color: hsl(136, 65%, 51%);
}

#footer-two{
  position: relative;
  right: -2rem;
}
#footer-two input {
  margin-bottom: 1.1rem;
  
}
#footer-two p {
  color: hsl(233, 8%, 62%);
}

.footer-btn {
  margin-left: 8.5rem;
  margin-bottom: 1rem;
}

/* for the attribution */

.attribution {
  position: relative;
  top:7rem;
  color: hsl(233, 8%, 62%);
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 2rem;
}

.attribution a {
  color: white;
}

/* for the mobile view */

@media screen and (min-width: 300px) and (max-width: 800px){

  /* for the header */
  
  #header-nav,
  #header-btn {
    display: none;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: hsl(0, 0%, 100%);
    height: 4rem;
    width: 100%;
  }

  #logo {
    position: relative;
    left: 22px;
  }
  
  #mobile-res {
    display: inline;
    position: relative;
    right: 2rem;
  }
  
  /* this will activate on clicking the hamburger */
  #mobile-header{
    /* transition: 3s; */
    /* display: flex;  */
    /* justify-content: center;  */
    position: absolute; 
    margin-left: 15%;
    /* top: 5rem; 
    left: 2.8rem; */
    margin-top: 500px;
    background-color: white;
    border-radius: 35px;
    width: 70%;
    box-shadow: 2px 2px 100px rgb(56 55 55);
  }

  #mobile-nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    color: rgb(45, 49, 77);  
    padding: 25px 0;  
    min-height: 15rem;
    list-style: none;
  }

  #mobile-nav-links>li:hover{
    color: hsl(136, 65%, 51%);

  }

  /* for the main container */

  #main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 0rem;
    background-position-y: -9rem;
    min-height: 35rem;
  }
  #main-image {
    position: relative;
    top: -10rem;
    /* left: 0rem; */
    transform: scale(0.9);
    min-width: 100%;
  }
  #main-image img{
    max-height: 45rem;
    width: 95%;
  }
  #main-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    /* position: absolute; */
    width: 80%;
    top: 35rem;
    /* margin-left: 80px; */
    left: unset;
    text-align: center;
  }
  #main-content h1 {
    font-size: 3rem;
    font-weight: lighter;
  }
  #main-content p {
    font-size: 1rem;
    max-width: 100%;
    line-height: 2.3rem;
  }
  .main-btn {
    transform: scale(1.3);
    margin-top: 1.5rem;
  }

  /* for the feature container */

  #feature-container {
    position: relative;
    top: 28rem;
  }
  #feature-content {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
  }
  #feature-content h1 {
    font-size: 2.3rem;
    width: 90%;
    text-align: center;
    padding-top: 3rem;
  }
  #feature-content p {
    font-size: 1rem;
    width: 90%;
    text-align: center;
    line-height: 1.7rem;
    margin-top: -0.5rem;
  }
  #feature-box {
    display: flex;
    margin-left: 0;
    width: 100%;
    position: static;
    flex-direction: column;
    padding: 2.5rem 0;
  }
  .feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  .feature-section img {
    transform: scale(1);
  }
  .feature-section h4 {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }
  .feature-section p {
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: center;
    margin: -1rem 0.5rem 0;
  }

  /* for the article */

  #article-container {
    position: relative;
    top: 29rem;
    margin-bottom: 32rem;
  }
  .cont{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  #article-container h1 {
    /* position: relative;
    top: 5rem;
    left: 7rem; */
    font-weight: lighter;
    letter-spacing: 0.11rem;
    font-size: 2rem;
  }
  #article-content {
    left: 0;
    flex-direction: column;
    width: 100%;
  }
  .article-heading {
    color: hsl(233, 26%, 24%);
    font-size: 1.1rem;
  }

  /* for the footer */

  #footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12rem;
    flex-direction: column;
    min-height: 30rem;
  }
  #footer-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: unset;
    left:unset
  }
  #footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
  }
  #footer-social {
    display: flex;
    padding: 2rem 0rem;
    width: 100%;
    align-items: center;
  }
  #footer-social img {
    padding: 0rem 0.5rem;
  }
  .footer-link {
    position: relative;
    left:-17px;
    /* right: 10px; */
    /*margin-left: -2.5rem; */
    text-align: center;
    height: 122px;
    width: 165px;
    margin: -10px;
    /* padding: 14px; */
    /* margin-top: -1.5rem; */
  }
  /* #links{
    margin-top: -3rem;
  } */
  #footer-two {
    display: flex;
    flex-direction: column;
    position: unset;
    margin-top: 20px;
  }

  .footer-btn {
    align-self: center;
    margin-left: 0rem; 
    margin-bottom: 0rem;
  }
  #footer-two p {
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }

  /* for the .attribution */

  .attribution{
    top:10.4rem;
  }
}
